<label>UserName </label>
<input type="text" class="form-control" [(ngModel)]="servername" /><br /><br />
<p>{{ servername }}</p>
<p *ngIf="serverCreated; else noServer">server with server Id works!</p>
<ng-template #noServer>
  <p>No Server was created.</p>
</ng-template>
<button [disabled]="servername === '' " (click)="onClick()">
  Click Me
</button>
<p [ngStyle]="{ backgroundColor: getColor() }">
  Server status : {{ serverStatus }}
</p>
<p [ngStyle]="{ backgroundColor: getColor() }">
  Server status : {{ serverStatus }}
</p>
